@import "mixins";

.ftr {
    background-color: $dark-color;
    color: $white;
    padding: 2.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
  
    .container {
      width: 100%;
    }

    .grid-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    a {
      color: $white;
    }
  
    &-logo {
      display: inline-block;
      img {
        width: 100px;
      } 
    }
  
    &-nav-col {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 0.9rem;
      margin: 0 18px;
      text-align: left;
      flex-basis: 16%;
      @include xs {
        margin-bottom: 2rem;
        flex-basis: 38%;
       }
       @include md {
        margin: 0 18px;
        flex-basis: 16%;
       }

      &.logo-social {
        order: 1;
       
        @include xs {
         order: 6;
        }

        @include md {
          &.logo-social{
            order: 1;
          }
          
         }
      }

      .col1 {
        order: 2;
      }

      .col2 {
        order: 3;
      }

      .col3 {
        order: 4;
      }

      .col4 {
        order: 5;
      }

      i {
        margin-right: .3rem;
      }
  
      a {
        line-height: 2.25;
        transition: color 150ms ease-in-out;
        &:hover {
          color: $accent-color;
        }
      }
    }

    &-social {
        margin-top: 1.875rem;
        a {
          display: inline-block;
          height: 1.25rem;
    
          svg path {
            transition: fill 150ms ease-in-out;
          }
    
          &:hover svg path {
            fill: $accent-color;
          }
        }
    
        a:not(:last-child) {
          margin-right: 1rem;
        }
      }
  
    &-copyright {
      font-size: 0.82rem;
      color: $light-gray;
      margin-top: 4rem;
    }
  }
  