.news {
	background-image: url('/images/green-bg.png');
	
	

	&-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	

	&-heading h2 {
		font-size: 2.5rem;
		margin: 2rem 0 3.5rem 0;
		color: #fff;
		text-align: center;
	
	  //   @include breakpoint-up(large){
	   //width: 60%;
	  //   }
	  }
	&-grid {
		display: flex;
        width: 100%;
        flex-wrap: wrap;
		

		// @include breakpoint-up(medium) {
		
		// }

		// @include breakpoint-up(large) {
		
		// }
	}

	&-item {
		border-radius: 0.3125rem;
		overflow: hidden;
		background-color: $white;
		box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
		transition: all 150ms ease-in-out;
        flex: 1;
		margin: 0 .8rem;
		

		&:hover {
			transform: scale(1.05);
		}
	}

	&-img {
		height: 12.5rem;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	&-text {
		padding: 1.875rem 1.875rem 2.5rem 1.875rem;
		color: $grayishBlue;

		// @include breakpoint-up(medium) {
		// 	padding: 1.875rem 1.5625rem;
		// }
	}

	
	&-title {
		font-size: 1.0625rem;
		line-height: 1.2;
		color: $darkBlue;
		margin-bottom: 0.5rem;
	}

	&-desc {
		font-size: 0.8125rem;
	}

	button {
		border: none;
		width: 10rem;
		margin-top: 2rem;
	}
}
