@import "mixins";

.news {
	background-image: url('/images/green-bg.png');
	
	&-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	&-heading h2 {
		font-size: 2.5rem;
		margin: 2rem 0 3.5rem 0;
		color: #fff;
		text-align: center;
		@include xs {
			font-size: 2rem;
		}
		@include md {
			font-size: 2.5rem;
		}
	}

	&-grid {
        width: 100%;
	}

	.grid-row {
		display: flex;
  		flex-flow: row wrap;
		justify-content: center;
	}

	&-item {
		border-radius: 0.3125rem;
		overflow: hidden;
		background-color: $white;
		box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
		transition: all 150ms ease-in-out;
        flex-basis: 30%;
		margin: 0 .8rem;
		
		&:hover {
			transform: scale(1.05);
		}

		@include xs {
			flex-basis: 100%;
			margin-bottom: 1rem;
			&:hover {
				transform: none;
			}
		}

		@include sm {
			flex-basis: 100%;
			&:hover {
				transform: none;
			}
		}

		@include md {
			flex-basis: 50%;
			&:hover {
				transform: scale(1.05);
			}
		}

		@include lg {
			flex-basis: 29%;
		}

		@include xl {
			flex-basis: 29%;
		}

	}

	&-img {
		height: 12.5rem;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	&-text {
		padding: 1.875rem 1.875rem 2.5rem 1.875rem;
		color: $light-gray;
	}

	&-title {
		font-size: 1.0625rem;
		line-height: 1.2;
		color: $dark-blue;
		margin-bottom: 0.5rem;
	}

	&-desc {
		font-size: 0.8125rem;
	}

	button {
		border: none;
		width: 10rem;
		margin-top: 3rem;

		@include xs {
			width: 100%;
		}

		@include md {
			width: 10rem;
		}
	}
}
