html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  font-weight: 300;
  color: #9698a6;
  line-height: 1.3;
  overflow-x: hidden;
}

body.noscroll {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.15;
  color: rgba(234, 238, 255, 0.8);
  margin-top: 0px;
}

h1 {
  font-size: 2.31rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.container--pall {
  padding-top: 4.375rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
}

.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 4.375rem;
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 4.375rem;
}

.container--pl {
  padding-left: 1.5rem;
}

button,
.button {
  position: relative;
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  background-color: #131B36;
  border: 1px solid #EAEEFF;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  font-size: 0.875rem;
  transition: opacity 300ms ease-in-out;
  overflow: hidden;
}

button::before,
.button::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

button:hover::before,
.button:hover::before {
  opacity: 1;
}

.listings {
  background-color: #f3f4f6;
  text-align: center;
  color: #353A3F;
}

.listings-heading h2 {
  font-size: 2.5rem;
  margin: 1rem 0 3rem 0;
  color: #353A3F;
}

.listings-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.listings-item {
  padding: 0.9375rem;
  flex: 1;
}

.listings img {
  margin-bottom: 1.875rem;
  width: 300px;
  margin-bottom: 2.75rem;
}

.listings-itm-desc {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.15;
  color: #2d314d;
  margin-bottom: 1rem;
}

.listings-itm-address {
  font-size: 0.875rem;
  line-height: 1.5;
}

.news {
  background-image: url("/images/green-bg.png");
}

.news-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-heading h2 {
  font-size: 2.5rem;
  margin: 2rem 0 3.5rem 0;
  color: #fff;
  text-align: center;
}

.news-grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.news-item {
  border-radius: 0.3125rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  transition: all 150ms ease-in-out;
  flex: 1;
  margin: 0 .8rem;
}

.news-item:hover {
  transform: scale(1.05);
}

.news-img {
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.news-text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
  color: #9698a6;
}

.news-title {
  font-size: 1.0625rem;
  line-height: 1.2;
  color: #2d314d;
  margin-bottom: 0.5rem;
}

.news-desc {
  font-size: 0.8125rem;
}

.news button {
  border: none;
  width: 10rem;
  margin-top: 2rem;
}

.contact {
  background-color: #EAEEFF;
}

.contact form {
  position: relative;
  width: 40rem;
  background: #EAEEFF;
  border-radius: .7rem;
  margin: 0 auto;
}

.contact input {
  height: 3rem;
  width: 20rem;
  font-family: Barlow Semi Condensed, Avenir Next Condensed Demi Bold, Arial Narrow Bold, sans-serif;
  border: 0;
  color: #878a8d;
  font-size: 1rem;
  padding-left: 2rem;
}

.contact button {
  text-transform: uppercase;
}

.contact input[type="checkbox"] {
  margin-top: 1.5rem;
  height: 1rem;
  width: 2rem;
  background-color: green;
}

.contact input[type="checkbox"]:checked {
  margin-top: 1.5rem;
  height: 1rem;
  width: 2rem;
  background-color: green;
}

@media (max-width: 700px) {
  .hero {
    height: 400px;
  }
  .hero .hero-text {
    text-align: center;
  }
}

.ftr {
  background-color: #353A3F;
  color: #fff;
  padding: 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media (min-width: 64em) {
  .ftr .container {
    display: flex;
    flex-direction: row;
  }
}

.ftr a {
  color: #fff;
}

.ftr-logo {
  display: inline-block;
}

@media (max-width: 63.9375em) {
  .ftr-logo {
    margin-bottom: 1.875rem;
  }
}

.ftr-nav-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 0.9375rem;
  margin: 0 15px;
  text-align: left;
}

@media (min-width: 64em) {
  .ftr-nav-col {
    align-items: flex-start;
  }
}

.ftr-nav-col i {
  margin-right: .3rem;
}

.ftr-nav-col a {
  line-height: 2.25;
  transition: color 150ms ease-in-out;
}

.ftr-nav-col a:hover {
  color: #8DC63F;
}

.ftr-social {
  margin-top: 1.875rem;
}

@media (max-width: 63.9375em) {
  .ftr-social {
    margin-bottom: 1.875rem;
  }
}

.ftr-social a {
  display: inline-block;
  height: 1.25rem;
}

.ftr-social a svg path {
  transition: fill 150ms ease-in-out;
}

.ftr-social a:hover svg path {
  fill: #8DC63F;
}

.ftr-social a:not(:last-child) {
  margin-right: 1rem;
}

.ftr-copyright {
  font-size: 0.8125rem;
  color: #9698a6;
  margin-top: 4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Barlow Semi Condensed, Avenir Next Condensed Demi Bold, Arial Narrow Bold, sans-serif;
  line-height: 1.6;
  background-color: #EAEEFF;
}

.main-header {
  background-color: #e8e8ee;
  color: #fff;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("/images/hero-bg.jpg");
}

.main-header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  padding: 0 2rem;
  background: white;
  background: linear-gradient(90deg, white 17%, rgba(47, 52, 74, 0.773845) 61%, #2f344a 100%);
}

.main-header nav .brand-logo img {
  width: 90px;
}

.main-header nav ul#main-nav {
  display: flex;
  list-style-type: none;
}

.main-header nav li {
  padding: 15px;
}

.main-header nav li .dropdown {
  position: relative;
  display: inline-block;
}

.main-header nav li ul.nav-dropdown-menu {
  display: none;
  position: absolute;
  background-color: #242947;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  list-style-type: none;
}

.main-header nav li ul.nav-dropdown-menu li {
  text-decoration: none;
  margin: 0;
  padding: .2rem;
}

.main-header nav li .nav-dropdown-menu a {
  color: #fff;
  padding: 4px 16px;
  text-decoration: none;
  display: block;
}

.main-header nav li .nav-dropdown-menu a:hover {
  background-color: #ddd;
}

.main-header nav li .dropdown:hover ul.nav-dropdown-menu {
  display: block;
}

.main-header nav li .dropdown:hover .nav-dropdown-menu {
  display: block;
}

.main-header nav li .dropdown .nav-dropdown-menu li {
  display: block;
}

.main-header nav a:hover {
  color: #8DC63F;
}

.main-header a {
  color: #fff;
}

.main-header .hero {
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.main-header .hero h1 {
  font-size: 3.5rem;
}

.main-header .hero-text {
  text-align: center;
  position: relative;
  margin-bottom: 20rem;
  color: white;
}

.main-header .hero form {
  position: relative;
  width: 30rem;
  background: #182344;
  border-radius: .7rem;
  margin: 0 auto;
}

.main-header .hero input, .main-header .hero button {
  height: 3rem;
  font-family: Barlow Semi Condensed, Avenir Next Condensed Demi Bold, Arial Narrow Bold, sans-serif;
  border: 0;
  color: #353A3F;
  font-size: 1.3rem;
}

.main-header .hero input[type="search"] {
  outline: 0;
  width: 100%;
  background: #EAEEFF;
  padding: 0 1.6rem;
  border-radius: .7rem;
  appearance: none;
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

.main-header .hero button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  font-weight: bold;
  background: #8DC63F;
  border-radius: 0 .7rem .7rem 0;
  align-items: center;
}

.main-header .hero input:not(:placeholder-shown) {
  border-radius: .7rem 0 0 .7rem;
  width: calc(100% - 8.5rem);
}

.main-header .hero input:not(:placeholder-shown) + button {
  display: block;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.header-container {
  max-width: 100%;
  margin: 0 auto;
  overflow: auto;
}

.main-nav {
  background-color: rgba(51, 51, 51, 0.322);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/hero-bg.jpg");
  overflow: hidden;
}

/* Style the links inside the navigation bar */
/* Change the color of links on hover */
/* Add an active class to highlight the current page */
/* Hide the link that should open and close the main-nav on small screens */
.main-nav .icon {
  display: none;
}
/*# sourceMappingURL=style.css.map */