  @import "config";
  @import "mixins";
  @import "header";
  @import "listings";
  @import "news";
  @import "contact";
  @import "footer";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack;
    line-height: 1.6;
    background-color: $light-color;
}



  




